* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: aquamarine;
}
img {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: blueviolet;
    border-radius: 10px;
}

.choosen {
    border: 2px solid goldenrod;
}
