@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    background-color: #7a3b69;
    height: 100vh;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Bebas Neue', cursive;
    gap: 10px;
    margin: 10px;
}
/* HEADER */
.header-title {
    display: flex;
    width: inherit;
    height: 100px;
    color: #cfcfcd;
    background-color: #563440;
    justify-content: center;
    border-bottom: 5px solid black;
}
.title {
    font-size: 42px;
    font-family: 'Bebas Neue', cursive;
    padding: 25px;
    letter-spacing: 3px;
}
.img-initial {
    width: 100px;
    height: 100px;
}

/* SELECTED WEAPON*/
.selected-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 350px;
    border: 3px solid black;
    background-color: #9a879d;
}

/* MESSAGE RESULT */
.message-result {
    height: 150px;
    width: 350px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9a879d;
    font-family: 'Bebas Neue', cursive;
}

/* BUTTONS CONTAINER */
.choose-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid black;
    height: 150px;
    width: 350px;
    background-color: #9a879d;
}
/* RESULT CONTAINER */
.result-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 350px;
    border: 3px solid black;
    background-color: #9a879d;
}
.result-player,
.result-computer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #9a879d;
    font-family: inherit;
}

.start-computer {
    width: 100px;
    height: 100px;
    background-color: transparent;
}

.paper {
    background-image: url(/images/paper.svg);
}
.rock {
    background-image: url(/images/rock.svg);
}
.scissors {
    background-image: url(/images/scissors.svg);
}

.player {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
}

.hidden {
    display: none;
}

.modal-content {
    width: 25%;
    margin: 20% auto;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.active {
    display: block;
}

#resultMsg {
    font-size: 20px;
    font-family: inherit;
}
#finalMessage {
    font-family: inherit;
}
